@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* CSS Document */

body {
    padding: 0px;
    margin: 0px;
    background: #FFFBFF;
    font-family: 'Open Sans', sans-serif;
}
.page {
    /*Any Page Render Styles*/
}
#header {
    height: 50px;
    width: 100%;
    background-color: #39F;
    color: black;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    line-height: 50px;
}
#header p {
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 50px;
}
#content {
    font-size: 16px;
    padding: 10px;
}
#footer {
    height: 50px;
    width: 100%;
    background-color: #39F;
    color: black;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    line-height: 50px;
}
#nav {
    background: #39F;
    text-align: left;
    padding-left: 20px;
}
#header a {
    color: #000;
}
#nav-btn {
    float: left;
    width: 10px;
    padding-left: 10px;
}
.sticky {
    bottom: 0px;
    position: absolute;
}
a:visited {
    color: #1874CD;
    text-decoration: none;
}
a:link {
    color: #1874CD;
    text-decoration: none;
}
@media only screen and (max-device-width: 480px) {}