@charset "UTF-8";

/* CSS Document */

.button {
    background: #BABABA;
    width: 95%;
    height: 50px;
    display: block;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}
.button-min {
    background: #BABABA;
    width: 95%;
    height: 25px;
    display: block;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
}
/*Broken*/

.button-nav {
    display: block;
    background: #39F;
    text-align: center;
    float: left;
    height: 25px;
    line-height: 25px;
    background-color: white;
    color: black;
}
.textbox {
    border-radius: 10px;
    height: 20px;
}
/*Switch Code*/

.switch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.switch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.switch-inner:before,
.switch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3399FF;
    color: #3CFF00;
}
.switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #BABABA;
    color: red;
    text-align: right;
}
.switch-switch {
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px;
}